<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer type="text/javascript" src="/javascripts/script.js"></script>
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Filmcity</title>
</head>
<body>
  <header>
    <a id="logo" href="/"><h1>Film-City</h1></a>
    <nav>
      <ul  class="nav-links">
        <% if(user){%>
          <li><a class ="header_links" href="/movies/<%= user.id %>/watchlist ">Watchlist</a></li>
       <% }else{ %>
        <li><a class ="header_links" href="/auth/google">Watchlist</a></li>
       <% } %> 
        <% if (user) { %>
          <a class ="header_links" href="/logout">Log Out</a>
        <% } else { %>
          <a class ="header_links" href="/auth/google">Login with Google</a>
        <% } %>
    </ul>
    </nav>
  </header>

<div class="trailer_container">
  <div class="trailer">
    <iframe src="https://www.youtube.com/embed/<%= videoKey %> " frameborder="0"></iframe>
</div>
  
</div>

</body>
</html>
