<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer type="text/javascript" src="/javascripts/script.js"></script>
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Film-City</h1>
    <nav>
      <ul  class="nav-links">
        <li><a class ="header_links" href="#">Watchlist</a></li>
        <% if (user) { %>
          <a class ="header_links" href="/logout">Log Out</a>
        <% } else { %>
          <a class ="header_links" href="/auth/google">Login with Google</a>
        <% } %>
    </ul>
    </nav>
  </header>
  <main>
    <% movies.forEach(function(movie){ %>
    <% const posterImg = posterURL + movie.poster_path %> 
    <% const movieId = movie.id %> 
    <div class="movie">
      <img  src="<%= posterImg %>" data-movie-id="<%=movieId%> " alt="">
      <div class="movie-title">
        <h3><%= movie.original_title  %> </h3>
        <span><%= movie.vote_average %> </span>
      </div>
    </div>
  <% }) %>

  
</main>


</body>
</html>
